<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Todo App</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="app" class="container">
    <h1>My Todos</h1>
    <table>
      <thead>
        <tr>
          <th class="id">ID</th>
          <th class="content">Todo</th>
        </tr>
      </thead>
      <tbody>  
        <tr v-for="todo in todos" v-bind:key="todo.id">
          <th>{{ todo.id }}</th>
          <td>
            <input type="checkbox" v-model="todo.isCompleted" v-on:change="doChangeState()">
            <span :class="{ 'complete': todo.isCompleted }">{{ todo.content }}</span>
            <button v-on:click="editTodo(todo)">Edit</button>
            <button v-on:click="deleteTodo(todo)">Delete</button>
          </td>
      </tbody>
    </table>
    <form class="add-form" v-on:submit="addTodo">
      <input type="text" ref="content">
      <button type="submit">Add</button>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
